@import "variables";
@import "mixins";

.collection_container_bgr {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.5)),
        url("/storage/images/main_picture.png");
    background-size: cover;
    background-position: center 100%;
}
.collection_container_bgr_vert {
    background-position: center 99%;
}
.adviser__btn {
    @include standart_btn();
    margin-right: 0.3rem;
    width: 140px;
    padding: 6px 12px;
    font-size: calc(0.4rem + 1vw);
    @media screen and (min-width: 1050px) {
        font-size: 1rem;
    }
}

.adviser__btn:hover {
    background-color: $hover_color;
}

.advaser_input {
    @include enter_form;
    margin-top: 12px;
}

.adviser__container {
    background-color: #f8f8f7;
    //padding: 24px 64px;
    font-family: $lato_font;
}

h1 {
    font-size: 28px;
}

.adviser__weather {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.adviser__label {
    margin: -0.5rem auto 0.3rem;
    font-family: $lato_font;
    font-size: calc(0.6rem + 1vw);
    color: $main_color;

    @media screen and (min-width: 1050px) {
        font-size: 1.3rem;
    }
}
.adviser__label_bld {
    font-weight: bold;
}
.adviser__label_coord {
    margin: 0 0.5rem;
    display: flex;
    align-items: center;
    color: dimgray;
    font-size: calc(0.4rem + 1vw);
    @media screen and (min-width: 1050px) {
        font-size: 1rem;
    }
}

.adviser_coordinaty {
    display: flex;
    flex: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.weather-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-family: $lato_font;
    //font-size: 18px;
    font-size: calc(0.6rem + 1vw);
    @media screen and (min-width: 1050px) {
        font-size: 1.35rem;
    }
}

.adviser__weather_box {
    display: flex;
    margin-left: 0.5rem;
}
.adviser__weather_city {
    display: flex;
    flex: 100%;
    justify-content: center;
    text-transform: uppercase;
    font-family: $lato_font;
    font-weight: 600;
    margin: 0.6rem 0 0.3rem;
    color: brown;
    text-shadow: 1px 1px 2px pink;
}
.adviser__wind {
    color: $main_color;
    font-weight: 600;
}
.temp {
    display: flex;
}
.adviser__recomend {
    font-size: calc(0.3rem + 1.1vw);
    padding-right: 1rem;
    @media screen and (min-width: 1050px) {
        font-size: 1rem;
    }
}

.adviser__serch_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1050px;
    height: 10vh;
    color: rgba(27, 27, 27, 0.767);
    font-size: calc(0.5rem + 1.3vw);
    @media screen and (min-width: 1050px) {
        font-size: 1.4rem;
    }
    //font-family: $lato_font;
    font-family: sans-serif;
    margin-top: 0.6rem;
    border-radius: 10px;
    min-height: 80px;
    font-weight: 600;
    box-shadow: 5px 6px 9px 0px rgba(34, 60, 80, 0.6);
    background-color: chartreuse;
}

.adviser__search_bgr_temp {
    background-color: $hover_color;
}
.adviser__search_bgr_cond {
    background-color: gold;
}
