@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Lato:wght@300&family=Orelega+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Lato:wght@300&family=Orelega+One&family=Roboto&display=swap");
.collection_container_bgr {
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0.5))), url("/storage/images/main_picture.png");
  background: linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.5)), url("/storage/images/main_picture.png");
  background-size: cover;
  background-position: center 100%;
}

.collection_container_bgr_vert {
  background-position: center 99%;
}

.adviser__btn {
  color: white;
  height: auto;
  width: 196px;
  background-color: #883CDA;
  font-family: "Roboto", sans-serif;
  padding: 14px 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 35px;
  border: none;
  margin-right: 0.3rem;
  width: 140px;
  padding: 6px 12px;
  font-size: calc(0.4rem + 1vw);
}

@media screen and (min-width: 1050px) {
  .adviser__btn {
    font-size: 1rem;
  }
}

.adviser__btn:hover {
  background-color: #CB9BFF;
}

.advaser_input {
  outline: 0;
  height: auto;
  width: 448px;
  background-color: #FFFFFF;
  color: black;
  padding: 12px 24px;
  border: none;
  border-radius: 35px;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  margin-top: 12px;
}

.adviser__container {
  background-color: #f8f8f7;
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 28px;
}

.adviser__weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.adviser__label {
  margin: -0.5rem auto 0.3rem;
  font-family: "Lato", sans-serif;
  font-size: calc(0.6rem + 1vw);
  color: #883CDA;
}

@media screen and (min-width: 1050px) {
  .adviser__label {
    font-size: 1.3rem;
  }
}

.adviser__label_bld {
  font-weight: bold;
}

.adviser__label_coord {
  margin: 0 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: dimgray;
  font-size: calc(0.4rem + 1vw);
}

@media screen and (min-width: 1050px) {
  .adviser__label_coord {
    font-size: 1rem;
  }
}

.adviser_coordinaty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.weather-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Lato", sans-serif;
  font-size: calc(0.6rem + 1vw);
}

@media screen and (min-width: 1050px) {
  .weather-box {
    font-size: 1.35rem;
  }
}

.adviser__weather_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0.5rem;
}

.adviser__weather_city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  margin: 0.6rem 0 0.3rem;
  color: brown;
  text-shadow: 1px 1px 2px pink;
}

.adviser__wind {
  color: #883CDA;
  font-weight: 600;
}

.temp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.adviser__recomend {
  font-size: calc(0.3rem + 1.1vw);
  padding-right: 1rem;
}

@media screen and (min-width: 1050px) {
  .adviser__recomend {
    font-size: 1rem;
  }
}

.adviser__serch_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1050px;
  height: 10vh;
  color: rgba(27, 27, 27, 0.767);
  font-size: calc(0.5rem + 1.3vw);
  font-family: sans-serif;
  margin-top: 0.6rem;
  border-radius: 10px;
  min-height: 80px;
  font-weight: 600;
  -webkit-box-shadow: 5px 6px 9px 0px rgba(34, 60, 80, 0.6);
          box-shadow: 5px 6px 9px 0px rgba(34, 60, 80, 0.6);
  background-color: chartreuse;
}

@media screen and (min-width: 1050px) {
  .adviser__serch_item {
    font-size: 1.4rem;
  }
}

.adviser__search_bgr_temp {
  background-color: #CB9BFF;
}

.adviser__search_bgr_cond {
  background-color: gold;
}
/*# sourceMappingURL=adviser.css.map */