@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Lato:wght@300&family=Orelega+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Lato:wght@300&family=Orelega+One&family=Roboto&display=swap");
.collection_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0 0 1rem 0;
  height: auto;
  max-width: 1050px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 6px 9px 0px rgba(34, 60, 80, 0.6);
          box-shadow: 5px 6px 9px 0px rgba(34, 60, 80, 0.6);
}

.collection_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  font-size: calc(0.8rem + 1.1vw);
  line-height: 1.5;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem 0;
  background-color: #883CDA;
  color: beige;
}

@media screen and (min-width: 1050px) {
  .collection_header {
    font-size: 1.6rem;
  }
}

.collection__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0.5rem 0.7rem;
}

.collection__purpose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 33%;
      -ms-flex: 33%;
          flex: 33%;
}

.collection__lowblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  margin: 0 0.5rem;
}

.collection__temper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 33%;
      -ms-flex: 33%;
          flex: 33%;
  font-family: "Lato", sans-serif;
  color: rgba(27, 27, 27, 0.767);
  font-size: calc(0.6rem + 1vw);
}

.collection__weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 33%;
      -ms-flex: 33%;
          flex: 33%;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.weather-box {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 3/1/4/3;
}

.collection_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 1rem;
  width: 10%;
  padding-right: 0.3rem;
}

.collection_img {
  border-radius: 50%;
  margin: auto 0.3rem;
  height: 90%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-box-shadow: 0px 0px 30px 4px #975dd6;
          box-shadow: 0px 0px 30px 4px #975dd6;
}

.collection__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.check_purpose {
  margin-right: 0.6rem;
}

.check_purpose_rt {
  margin-right: 0;
}

.collection__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Lato", sans-serif;
  margin-bottom: 0.3rem;
  color: rgba(27, 27, 27, 0.767);
  font-size: calc(0.6rem + 1vw);
}

@media screen and (min-width: 1050px) {
  .collection__title {
    font-size: 1.3rem;
  }
}

.collection__title_lf {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.collection__title_rt {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.collection__title_weather {
  font-family: "Lato", sans-serif;
  margin-bottom: 24px;
  text-align: center;
  font-family: "Lato", sans-serif;
  color: rgba(27, 27, 27, 0.767);
  font-size: calc(0.6rem + 1vw);
}

@media screen and (min-width: 1050px) {
  .collection__title_weather {
    font-size: 1.3rem;
  }
}

.collection__title_weather span {
  font-family: sans-serif;
  text-align: center;
  color: rgba(27, 27, 27, 0.767);
  font-size: calc(0.6rem + 1vw);
}

@media screen and (min-width: 1050px) {
  .collection__title_weather span {
    font-size: 1.3rem;
  }
}

input:-internal-autofill-selected,
input:-webkit-autofill {
  background-color: white;
}

.collection__filtr_btn {
  color: white;
  height: 52px;
  width: 196px;
  background-color: #883CDA;
  font-family: "Roboto", sans-serif;
  padding: 14px 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 35px;
  border: none;
  height: auto;
  padding: 0;
  font-size: 1rem;
}

.collection__filtr_btn:hover {
  background: #CB9BFF;
}

.collection__filtr_input {
  outline: 0;
  height: auto;
  width: 448px;
  background-color: #FFFFFF;
  color: black;
  padding: 12px 24px;
  border: none;
  border-radius: 35px;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  -webkit-box-shadow: 16px 12px 46px -31px #000000 inset;
          box-shadow: 16px 12px 46px -31px #000000 inset;
  background-color: antiquewhite;
  font-size: 1rem;
  width: 125%;
}

.serch_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1050px;
  height: 10vh;
  color: rgba(27, 27, 27, 0.767);
  font-size: calc(0.5rem + 1.3vw);
  font-family: sans-serif;
  margin-top: 0.6rem;
  border-radius: 10px;
  min-height: 80px;
  font-weight: 600;
  -webkit-box-shadow: 5px 6px 9px 0px rgba(34, 60, 80, 0.6);
          box-shadow: 5px 6px 9px 0px rgba(34, 60, 80, 0.6);
}

@media screen and (min-width: 1050px) {
  .serch_item {
    font-size: 1.4rem;
  }
}

.serch_item:nth-child(odd) {
  background-color: bisque;
}

.serch_item:nth-child(even) {
  background-color: #ffa483;
}

.collection__edit_btn {
  background-color: #883cda;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  aspect-ratio: 1;
  height: 45%;
  margin: auto;
}

.collection__edit_btn:hover {
  background-color: #CB9BFF;
}

.collection__delete_btn {
  margin-left: 0.3rem;
}

.collection__delete_btn:hover {
  background-color: #CB9BFF;
}

.temp_low {
  color: #883cda;
  font-weight: 600;
}

.temp_high {
  color: brown;
  font-weight: 600;
}
/*# sourceMappingURL=collection.css.map */