@import "variables";
@import "mixins";

.mainmenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    height: 128px;
    padding: 0px 64px;
    box-sizing: border-box;

}

.mainmenu_titel__logo {
    height: 40px;
    width: 40px;
    margin: 44px 12px;
    transform: scale(-1, 1)
}

.mainmenu_titel {
    display: flex;
    flex-direction: row;
    text-align: center;

}

.mainmenu_titel__text {
    line-height: 128px;
    font-family: $roboto_font;
    font-size: 28px;
    font-weight: bold;
}

.mainmenu_router {
    border-top: 1px solid #141516;
    border-left: 1px solid #141516;
    border-bottom: 1px solid #141516;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    height: 64px;
    width: 70%;
    position: relative;
    margin-top: 32px;
    box-sizing: border-box;
}

#hamburger__check {
    opacity: 0;
    position: absolute;
}

.mainmenu_router__mask {
    position: absolute;
    bottom: -1px;
    right: -1px;
    width: 30%;
    height: 1px;
    background-color: #fff;
}

.hamburger__list {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    position: absolute;
    //z-index: 100;
    //right: 0;
    //margin-left: 70%;
}

.mainmenu__item {
    @include menu_item();
}

.mainmenu__item:hover {
    background-color: $main_color;
    border: solid 1px $main_color;
    border-radius: 35px;
    color: #ebedef;
}
