@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Orelega+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Lato:wght@300&family=Orelega+One&display=swap');
$back_color: rgba(205, 205, 205, 0.373);
$lato_font:  'Lato', sans-serif;
$titel_color: #787878;
$shadow_color: #E2E2E2;
$natural_gradient: radial-gradient(circle at top left, #f1f1e6, #2e3e78);
$heart_gradient: linear-gradient(to right, #284166, #503d70, #7b3167, #99254a, #a33120);
$main_font: 'Oswald', sans-serif;
$secondary_font: 'Orelega One', cursive;
$new_font:'Amatic SC', cursive;
$all_margin: 30px 0px;
$all_padding: 30px 60px;
$font_size: 16pt;

